.login-page{
    margin: 0 auto;
    width: 250px;
    /* margin-top: 14%; */
    position: relative;
    top: 110px;
}
span {
    display: block;
    /* margin-top: 16px; */
}

.btn-wrapper {
    margin-top: 26px;
}
.btn-success {
    float: right;
}


.register-form{
    width: 500px;
    margin-left: 30%;
}

.btn-submit{
    float: right;
    /* display: inline-block; */
}
.btn-cancel{
    float: right;
    margin-right: 30px;
}
.main-page{
    background-image: url('../../assets/e271fda72f1e158b5f0569cc72d36d7f.jpg');
    height: 950px;
    }

    body, html {
      height: 100%;
    }