<div class="main-page">
  <!-- <div class="div-wrapper">
    <div class="heading">
      <h3>Blood Donar Information</h3>
    </div>
    <div class="blood-donor">
      <span><button type="button" class="btn btn-primary" (click)="onClickRegisterMe()">Register me</button></span>
      <span><button type="button" class="btn btn-success" (click)="onClickSignIn()">Sign In </button></span>
    </div>
    <div class="blood-req">
      <span><button type="button" class="btn btn-secondary" (click)="onClickBloodRequest()">Blood
          requester</button></span>
    </div>
  </div> -->

</div>