.main-page{
    background-image: url('../../assets/e271fda72f1e158b5f0569cc72d36d7f.jpg');
    height: 1200px;
}
.title{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.blood-req {
  width: 230px;
  float: left;
  height: 100px;
  margin: 10px;
  border: 2px solid green;
  border-radius: 7px;
  padding-top: 25px;
  padding-left: 30px;

}
.blood-donor {
  float: left;
  height: 100px;
  margin: 10px;
  width: 280px;
  border: 2px solid red;
  border-radius: 7px;
  padding-top: 25px;
  padding-left: 30px;
}
