<div class="main-page">
  <div class="title">
    <h3 style="text-align: center; font-weight: 700; padding: 20px;">Blood Donar Information</h3>
    <section class="row" style="margin-top: 15%;">
      <div class="col-md-6">
        <div style="float: right; border: 2px solid red;
        padding: 35px; border-radius: 5px;">
            <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="onClickRegisterMe()">Register me</button>
            <button type="button" class="btn btn-success"  style="margin-right: 10px;" (click)="onClickSignIn()">Sign In </button>
        </div>
      </div>
      <div class="col-md-6">
        <div style="float: left; border: 2px solid red;
        padding: 35px;  border-radius: 5px;">
            <button type="button" class="btn btn-secondary" (click)="onClickBloodRequest()">Blood requester</button>
        </div>
      </div>
    </section>
</div>


