<!-- 
  <div class="main-div" >
    <div class="btn-wrapper">
      <h3>Blood Donar Information</h3>
      <span><button type="button" class="btn btn-primary" (click)="onClickRegisterMe()">Register me</button></span>
      <span><button type="button" class="btn btn-success" (click)="onClickSignIn()">Sign In </button></span>
     
    </div>
    <div class="blood-req">
      <span><button type="button" class="btn btn-secondary">Blood requester</button></span>
    </div>
  </div> -->
<!-- <div>
  <div class="blood-donor">
    <span><button type="button" class="btn btn-primary" (click)="onClickRegisterMe()">Register me</button></span>
    <span><button type="button" class="btn btn-success" (click)="onClickSignIn()">Sign In </button></span>
  </div>
  <div class="blood-req">
    <span><button type="button" class="btn btn-secondary">Blood requester</button></span>
  </div>
</div> -->
<div class="div-wrapper">
  <h3>Blood Donar Information</h3>
<div class="blood-donor">
  <span><button type="button" class="btn btn-primary" (click)="onClickRegisterMe()">Register me</button></span>
    <span><button type="button" class="btn btn-success" (click)="onClickSignIn()">Sign In </button></span>
  </div>
  <div class="blood-req">
    <span><button type="button" class="btn btn-secondary" (click)="onClickBloodRequest()">Blood requester</button></span>
  </div>
</div>