.agm-map{
    height: 400px;
    width: 700px;
}

.map-wrapper {
    margin-left: 28%;
    margin-top: 2%;
}

.table-wrapper {
    width: 1000px;
    margin-left: 14%;
    margin-top: 1%;
    height: 200px;
    overflow: auto;
}
.heading{
    font-size: 38px;
    margin-left: 40%;
    font-weight: 700;
    padding-top: 20px;
}
.main-page{
    background-image: url('../../assets/e271fda72f1e158b5f0569cc72d36d7f.jpg');
    height: 1000px;
    }
.search-bar {
    width: 1000px;
position: relative;
left: 14%
}