<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Contact number</th>
        <th scope="col">Email ID</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers ">
        <th scope="row">1</th>
        <td>{{user.firstName }}</td>
        <td>{{user.mobileNumber}}</td>
        <td>{{user.emailID}}</td>
        <td>{{user.address}}</td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary btn-cancel " (click)="onClickCancel()">Cancel</button>
</div>
